extends ../layout/common

block content
  h1.text-center Login
  if errors && loginCount <= 3
    each error in errors
      .alert.alert-danger= error
  else if errors && loginCount > 3
    .alert.alert-danger= `You have entered the wrong account or password more than ${loginCount - 1} times`
  form(action="/auth/login" method="POST").text-center
    div(style="margin-bottom: 10px")
      label(style="display: block") Email:
      input(name="email" type="text" value=values ? values.email : "").form-control.w-50.mx-auto
    div(style="margin-bottom: 10px")
      label(style="display: block") Password:
      input(name="password" type="password" value=values ? values.password : "").form-control.w-50.mx-auto
    div
      button.btn.btn-primary Login