h1 Create Books
form(action="/users/create" method="POST")
  div(style="margin-bottom: 10px")
    label(style="display: block") Name:
    input(name="name" type="text")
  div(style="margin-bottom: 10px")
    label(style="display: block") Description:
    input(name="description" type="text")
  div
    button Create