h1 Edit Books
form(action=`/books/edit/${book.id}` method="POST")
  div(style="margin-bottom: 10px")
    label(style="display: block") Name:
    input(name="name" type="text" value=`${book.name}`) 
  div(style="margin-bottom: 10px")
    label(style="display: block") Description:
    input(name="description" type="text" value=`${book.description}`) 
  div
    button Edit