extends ../layout/common

block content
  h1.text-center Edit Books
  form(action=`/books/${book.id}/edit` method="POST").text-center
    div(style="margin-bottom: 10px")
      label(style="display: block") Name:
      input(name="title" type="text" value=`${book.title}`).form-control.w-50.mx-auto 
    div(style="margin-bottom: 10px")
      label(style="display: block") Description:
      input(name="description" type="text" value=`${book.description}`).form-control.w-50.mx-auto 
    div
      button.btn.btn-primary Edit