h1 Books App
h3
  a(href="/users/create") New Book
form(action="/users/search", method="GET")
  input(name="q" type="text")
  button Search
ul
  each book in books
    li= book.name
      span &nbsp
      span
        a(href="/users/" + book.id) View
      span  / 
      span
        a(href="/users/delete/" + book.id) Delete
      span  / 
      span
        a(href="/users/edit/" + book.id) Edit