h1(style="text-align: center") Create new trans book
each user in users
  div(style="display: flex; justify-content: space-around")
    div
      select(form="formTrans" name="formTrans")
        option(value=`${user.name}`) #{user.name}
    div
      select(form="formTrans" name="formTrans")
        option(value="Nhà giả kim") Nha gia kim
        option(value="You don't know js") You don't know js
        option(valur="97 Things Every Programmer Should Know") 97 Things Every...
  form(action=`/trans/create/${user.id}`, method="POST" id="formTrans" style="text-align: center; margin: 20px 0px 0px -50px")
    button Create