h1 Transactions
h3
  a(href="/trans/create") Create new trans book
form(action="/trans/search", method="GET")
  input(name="q" type="text")
  button Search
ul(style="padding-left: 0")
  each tran in trans
    li= `${tran.formTrans[0]} have rented book ${tran.formTrans[1]}`
      span &nbsp
      span
        if(!tran.isComplete)
          a(href="/trans/complete/" + tran.id) - Not complete
        else
          span - Completed
      span  / 
      span
        a(href="/trans/delete/" + tran.id) Delete
      