extends ../layout/common

block content
  h1.text-center Transactions
  h3.text-center
    a(href="/trans/create") New trans
  form(action="/trans/search", method="GET").text-center
    input(name="q" type="text").form-control.w-50.mx-auto
    button.btn.btn-primary.mt-4 Search
  if error
    .alert.alert-danger= #{error}
  table.table.table-dark.table-bordered.text-center.mx-auto(style="width: 50%")
    thead
      tr
        th Infomation
        th Options
    tbody
      each tran in trans
        tr
          td=`${tran.formTrans[0]} has hired the book ${tran.formTrans[1]}`
          td
             span
              if(!tran.isComplete)
                a(href="/trans/complete/" + tran.id) Not complete
              else
                span Completed
              span  / 
              span
                a(href="/trans/delete/" + tran.id) Delete