extends ../layout/common

block content
  h1.text-center Create User
  form(action="/users/create" method="POST").text-center
    div(style="margin-bottom: 10px")
      label(style="display: block") Name:
      input(name="name" type="text").form-control.w-50.mx-auto
    div(style="margin-bottom: 10px")
      label(style="display: block") Description:
      input(name="description" type="text").form-control.w-50.mx-auto
    div
      button.btn.btn-primary Create