extends ../layout/common

block content
  h1.text-center Books App
  h3.text-center
    a(href="/users/create").badge.badge-primary  New User
  form(action="/users/search", method="GET").text-center
    input(name="q" type="text").form-control.w-50.mx-auto
    button.btn.btn-primary.mt-4 Search
  table.table.table-dark.table-bordered.text-center.mx-auto(style="width: 50%")
    thead
      tr
        th ID
        th Users
        th Phone
        th(colspan="3") Options
    tbody
      each user in users
        tr
          td=user.id
          td=user.name
          td=user.phone
          td
              a(href="/users/" + user.id).badge.badge-primary View
          td  
              a(href="/users/edit/" + user.id).badge.badge-primary  Edit
          td
              a(href="/users/delete/" + user.id).badge.badge-danger Delete
