extends ../layout/common

block content

  h1.text-center Users Detail
  h4.text-center  Name:
  p.text-center  #{user.name}
  h4.text-center  Email:
  p.text-center  #{user.email}
  h4.text-center  Email:
  p.text-center  #{user.password}