html
  head
    title  Books Manager App
    link(rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.com/403e5802-ff8b-4084-a9ba-7f7e8282370c%2Ffavicon-32x32.png?v=1588691983058")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href="/custom.css")
  body
    ul.nav.justify-content-center
      li.nav-item
        a.nav-link.active(href='/') Home
      li.nav-item
        a.nav-link(href='/users') Users
      li.nav-item
        a.nav-link(href='/books') Books
      li.nav-item
        a.nav-link(href='/trans') Transactions
    block content
