h1 Todos
h3
  a(href="/todos/create") New Todo
form(action="/todos" method="GET")
  input(name="q")
  button Search
ul
  each todo in todos
    li= todo.todo
      span &nbsp
      span
        a(href="/todos/" + todo.id) View
      span  / 
      span
        a(href="/todos/" + todo.id + "/delete") Delete
        